<%= render "partials/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="title-2">
        Get in touch
      </div>
      
      <p>Fill out the form below with any comments or queries and I'll be in touch as soon as possible.</p>
      <br>
      
      <div class="well">
        <%= form_for @contact do |f| %>
        
          <div class="form-group">      
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :subject %>
            <%= f.text_field :subject, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div> 
            <%= f.submit 'Submit', class: 'btn btn-default' %>
            
        <% end %>
      </div>
      
      <br>
      <br>
      <p>Email Address: hpeckham@example.com</p>
      <p>Phone: xxx-xxx-xxxx</p>
    </div>
  </div> 
</div>

<%= render "partials/footer" %>